LocatorServiceImplementation/Service References/LocatorServices/Locator3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59579/Locator.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" />
  <xs:import schemaLocation="http://localhost:59579/Locator.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLocatorResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="searchOptions" nillable="true" type="q1:LocatorSearchOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocatorResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLocatorResultsResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorWithForeignId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="foreignId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorWithForeignIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetContractorWithForeignIdResult" nillable="true" type="q3:Contractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorWithEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorWithEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetContractorWithEmailResult" nillable="true" type="q4:Contractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="searchOptions" nillable="true" type="q5:LocatorSearchOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetContractorsResult" nillable="true" type="q6:ArrayOfContractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoofingDealers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoofingDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetRoofingDealersResult" nillable="true" type="q7:ArrayOfDealer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoofingInstallers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoofingInstallersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetRoofingInstallersResult" nillable="true" type="q8:ArrayOfContractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuilders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetBuildersResult" nillable="true" type="q9:ArrayOfBuilder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasonryDealers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasonryDealersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetMasonryDealersResult" nillable="true" type="q10:ArrayOfDealer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasonryInstallers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="radius" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasonryInstallersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OwensCorning.Locator.Data" minOccurs="0" name="GetMasonryInstallersResult" nillable="true" type="q11:ArrayOfContractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>